<h3><i class="fa fa-rocket" aria-hidden="true"> Stories</i></h3>
<div class="divider"></div>
<div class="section">
    <p class="lead">Personalize your story sharing experience with us.</p>
</div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>