@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
  margin: 20px 40px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background: #fafafa;
}
h1, h2, h3, h4, ul, li, a, p, input, label, button, div, footer,.btn{
  font-family: 'Quicksand', sans-serif;
  
}

.login-container {
    width:400px;
    margin-top: 50px;
    text-align: center;
}

.loginCard{
    border-radius: 30px;
}

.darken-1{
    border-radius: 10px;
}

.btn{
    border-radius: 10px;
}

p {
    margin: 10px 0 !important;
}

.fa-small{
    font-size: 16px !important;
}

.btn-float{
    float:left;
    margin-right: 10px;
    border-radius: 8px;
}

.deleteBtn{
    border-radius: 8px;
}

.img-small{
    width:180px;
}
